﻿@model NotesWeb.Models.Category

@{
    ViewBag.Title = "Filter";
}

<h2>Filter</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="row">
            <div class="col-xs-2">
                <label>Choose importance</label>
                @Html.EnumDropDownListFor(m => m.Importance, null, new { @class = "form-control" })
            </div>
            <div class="col-xs-2">
                <label>Choose class type</label>
                @Html.EnumDropDownListFor(m => m.ClassType, null, new { @class = "form-control" })
            </div>
        </div>

    </div>

    <input type="submit" value="Filter" class="btn btn-primary" />
}

